<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ROTI</title>
</head>

<body>
  <% if (errorMessage) { %>
  <p>
    <strong>Error!</strong>
    <%= errorMessage %>
  </p>
  <% } %>

  <% if (!authenticated) { %>
  <form action="/login" method="post">
    <label for="username">username: </label>
    <input type="text" id="username" name="username" autofocus />
    <label for="password">password: </label>
    <input type="password" id="password" name="password" />
    <button>Log in</button>
  </form>
  <% } else { %>
  <p>Hello, <%= username %> (<a href="/logout">log out</a>)</p>
  <% } %>

  <h2>ROTIs</h2>

  <ul>
    <% rotis.forEach(roti => { %>
    <li>
      <section class="roti">
        <h3>
          <% if (authenticated) { %>
          <a href="/roti/<%= roti.id %>"><%= roti.title %></a>
          <% } else { %>
          <span><%= roti.title %></span>
          <% } %>
        </h3>
        <%= include('_ranking.html', { max: 4, value: roti.ranking }) %>
      </section>
    </li>
    <% }) %>
  </ul>

  <% if (canAdd) { %>
  <a href="/roti-new">Add a new ROTI</a>
  <% } %>

  <script src="/main.js"></script>
  <script>listenROTIsList()</script>
</body>

</html>